body{
    background: #CECECE !important;
    padding:10px;
    position: absolute;
}

/*the slider background?*/
.slider {
    height:10px;
    background: #0000FF;
    position:relative;
    margin:25px ;
}

/*Style for the slider button*/
.ui-slider-handle {
    width:15px;
    height:15px;
    position: absolute;
    z-index:200;
    background:#FF4719;
    outline:none;
    margin:25px;
}

/*This is the fill bar colour*/
.ui-widget-header {
    width:100%;
    background:#000000;
    height:15px;
    position: absolute;
    margin:25px;
}

.col {
    display:inline-block; 
    vertical-align:top;
    margin: 30px;
}